.form-block{
	display: inline-block;
	width: 100%;
    margin-top: 10px;
}

.in-text{
	float: left;
	margin: 10px 0 0 50px;
	font-family: Arial,sans-serif;
}

.pr-input{
	width: 250px;
	margin-right: 50px;
}

.error-settings{
    color: red;
    text-align: center;;
    width: 260px;
    padding: 20px 0 3px 0;
    display: none;
}