#message-wrapper{
    display: none;
	position: fixed;
	left: 50%;
	top: 42px;
	z-index: 10000;
}
.message{
    float: left;
    margin: 3px auto;
    margin-left: -50%;
    padding: 3px;
    background: #F9EDBE;
    border: 1px solid #F0C36D;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
#error-message{
	color: #111111;
}
