.front-box{
	width: 800px;
	height: 470px;
	border-radius: 2px;
	margin: auto auto;
	margin-top: 100px;

    background: #D8D8D8;
	/*background: #d8f3ff; *//* for non-css3 browsers *//*

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d8f3ff', endColorstr='#1c5a76'); 
	background: -webkit-gradient(linear, center top, center bottom, from(#d8f3ff), to(#1c5a76));
	background: -moz-linear-gradient(top,  #d8f3ff,  #1c5a76);*/
	
	box-shadow: 0px 0px 10px #f3f0ff;
}

.tweet-img{
	background-image: url("/static/images/welcome.jpg");
	display: block;
	height: 450px;
	width: 500px;
	margin: 10px;
	float: left;
}

.ask-box{
    display: block;
    float: right;
    width: 260px;
	margin: 10px;
    background: #F1F1F1;
	border-radius: 2px;
	/*background-image: url('/static/images/back1.png');
	background-repeat: repeat;*/
	box-shadow: 0px 0px 4px #292435;
}
.login-box{
	height: 170px;
}
.register-box{
	height: 260px;
}

.login-form{
	margin: 20px;
}

.form-input{
	width: 100%;
	border-radius: 5px;
	padding-left: 8px;
	height: 25px;
	margin-top: 5px;
    border: 1px solid #D9D9D9;
}

.form-submit-btn{
    float: right;
    padding: 5px;
    margin: 20px 10px 10px 10px;

    border-radius: 2px;
	color: white;
	box-shadow: 0px 1px 0px #292435;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}
.login-btn{
    background: #4D90FE;
    background: -moz-linear-gradient(center top , #4D90FE, #4D90FE);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4D90FE', endColorstr='#4D90FE');
    background: -webkit-gradient(linear, center top, center bottom, from(#4D90FE), to(#4D90FE));

    border: 1px solid #3079ED;
}
.login-btn:hover{
    background: #266DE0;
    background: -moz-linear-gradient(center top , #2770E5, #266DE0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2770E5', endColorstr='#266DE0');
    background: -webkit-gradient(linear, center top, center bottom, from(#2770E5), to(#266DE0));

}
.sign-up{
    background: #D14836;
    background: -moz-linear-gradient(center top , #DD4B39, #D14836);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DD4B39', endColorstr='#D14836');
    background: -webkit-gradient(linear, center top, center bottom, from(#DD4B39), to(#D14836));

    border: 1px solid transparent;
}
.sign-up:hover{
    background: #C92D1C;
    background: -moz-linear-gradient(center top , #C92D1C, #C62715);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C92D1C', endColorstr='#C62715');
    background: -webkit-gradient(linear, center top, center bottom, from(#C92D1C), to(#C62715));

}

.register-form{
	margin: 20px;
}

.register-message{	
	font: 20px bold Arial, Helvetica, sans-serif;
	color: #292435;
	/*width: 240px;*/
	padding: 10px;
	border-bottom: 1px solid gray;
}
