.profile-block{
	display: block;
	padding: 5px 5px;
	margin: 5px 20px;
	background-color: #837B96;
	height: 130px;
	
	background: #837B96; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#837B96', endColorstr='#3e305d'); 
	background: -webkit-gradient(linear, center top, center bottom, from(#837B96), to(#3e305d));
	background: -moz-linear-gradient(top,  #837B96,  #3e305d);
	box-shadow: 0px 0px 10px #f3f0ff;
    border-radius: 8px;
}
.profile-pic{
	background-image: url("/static/images/welcome.jpg");
	display: inline-block;
	height: 130px;
	width: 100px;
}
.user-text{
	margin: -120px 0 0 120px;
    width: 410px;
	text-overflow: ellipsis;
	padding: 10px;
}
.username{
	font: 22px Impact, fantasy;
}
.name{
	font: 18px Comic Sans, Comic Sans MS, cursive;
}
.email{
	font: 16px Arial, Helvetica, sans-serif;
}
.description{
	font: 14px Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    width: 400px;
	text-overflow: ellipsis;
}
.details-in-right{
	padding: 4px;
    width: 150px;
}
.float-in-right{
    float: right;
}
.user-det{
    padding: 2px;
    font: 15px Arial, Helvetica, sans-serif;
    border-bottom: 1px solid white;
    text-align: center;
    border-radius: 4px;
    padding: 3px 2px 1px 2px;
}

#fbutton{
	border: 1px solid white;
	border-radius: 4px;

	font: 16px Courier New, monospace;
    padding: 2px 10px;
    cursor: pointer;
    text-align: center;
	width: 100px;
}

.following{
	background: red;
	color: white;
}
.follow{
	background: blue;
	color: white;
}
.unfollow{
	background: black;
	color: white;
}
