.page-content{
    top: 40px;
    bottom: 0;
    position: absolute;
	width: 800px;
    min-height: 100%;
    background: #E0E0E0;
}
.small-pic{
    background-image: url("/static/images/welcome.jpg");
	display: inline-block;
	height: 50px;
	width: 50px;
}
.user-content{
	display: block;
	margin: 5px 0px;
    position: relative;
}

.left-container{
    float: left;
	width: 30%;
}
.left-part{
	margin: 10px 0 10px 20px;
	padding: 5px 10px;
    border-radius: 8px;
    background: white;

	
/*
	background: #e6f7ff; */
/* for non-css3 browsers *//*


	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6f7ff', endColorstr='#8673a6'); 
	background: -webkit-gradient(linear, center top, center bottom, from(#e6f7ff), to(#8673a6));
	background: -moz-linear-gradient(top,  #e6f7ff,  #8673a6);
*/
	box-shadow: 0px 0px 10px #f3f0ff;
}
.right-part{
	padding: 0px 10px;
	width: 67%;
	border-radius: 8px; 
	box-shadow: 0px 0px 10px #f3f0ff;
    bottom: 0;
    position: absolute;
    top: 10px;
    right: 10px;
}
.right-container{
    height: 250px;
    background: white;
    border-radius: 8px;
    position: relative;
}

.link-to-tab{
	margin: 5px 4px;
	padding: 3px 10px;
	border-radius: 5px;
    list-style: none;
}
.link-to-tab a{
	text-decoration: none;
}
.link-to-tab:hover{
	padding-left: 11px;
    cursor: pointer;
	/*font-style: oblique;*/
}

.top-message{
	font: 20px Arial, Helvetica, sans-serif;
	color: #3e305d;
	border-bottom: 2px solid #292435;
	padding: 3px 10px;
    background: white;
    border-radius: 2px;
}
.common-block{
	padding: 6px 6px;
	position: relative;
	border-bottom: 1px solid #292435;
    min-height: 52px;
    background: #FFFFFF;
}
.user-details{
	margin: -50px 0 0 55px;
}
.post-data{
    margin: 0 0 0 55px;
}
.post{
	word-wrap: break-word;
}
.right-top{
	float: right;
}
.addpost-btn{
	margin: 10px;
	margin-top: 20px;
	float: right;
	padding: 5px;
	border-radius: 5px;
	color: white;
	background-image: url("/static/images/back3.png");
    background-repeat: repeat;

	box-shadow: 0px 1px 0px #292435;
    cursor: pointer;
}
.addpost-input{
	width: 195px;
	border-radius: 5px;
	padding-left: 8px;
	height: 25px;
	margin-top: 5px;
    border: 1px solid #D9D9D9;
}
.addpost-form{
    height: 100px;
}