.page-content{
    top: 40px;
    bottom: 0;
    position: absolute;
	width: 800px;
    min-height: 100%;
    background: #E0E0E0;
}
.small-pic{
    background-image: url("/static/images/welcome.jpg");
	display: inline-block;
	height: 50px;
	width: 50px;
}
.user-content{
	display: block;
	margin: 5px 0px;
    position: relative;
    background: #E0E0E0;
}

.left-container{
    float: left;
	width: 30%;
}
.left-part{
	margin: 0 0 10px 20px;
	padding: 5px 10px;
    border-radius: 2px;
    background: white;
/*
	background: #e6f7ff; */
/* for non-css3 browsers *//*


	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6f7ff', endColorstr='#8673a6'); 
	background: -webkit-gradient(linear, center top, center bottom, from(#e6f7ff), to(#8673a6));
	background: -moz-linear-gradient(top,  #e6f7ff,  #8673a6);
*/
}
.right-part{
	padding: 0px 10px;
	width: 530px;
	border-radius: 8px;
    margin-left: 240px;
    margin-top: 10px;
}

.top-message{
	font: 20px Arial, Helvetica, sans-serif;
	color: #3e305d;
	border-bottom: 2px solid #292435;
	padding: 3px 10px;
    background: white;
    border-radius: 2px;
}
.common-block{
	padding: 6px 6px;
	position: relative;
	border-bottom: 1px solid #292435;
    min-height: 52px;
    background: #FFFFFF;
    margin-top: 5px;
    border-radius: 2px
}
.user-details{
	margin: -50px 0 0 55px;
    font-weight: bold;
    font-size: 17px;
    color: #424E59;
}
.user-details a{
    font: 14px italic Comic Sans, Comic Sans MS, cursive;
    color: #AB61CE;
}
.post-data{
    margin: 5px 0 5px 55px;
}
.post{
	word-wrap: break-word;
}
.repost{
    color: gray;
    font-size: 0.9em;
    margin-top: 5px;
}
.right-top{
	float: right;
    font: 13px Courier New, monospace;
    color: #544D4E;
    margin-top: -20px;
}
.addpost-btn{
	margin: 10px;
	margin-top: 20px;
	float: right;
	padding: 5px;
	border-radius: 5px;
	color: white;
	background-image: url("/static/images/back3.png");
    background-repeat: repeat;

	box-shadow: 0px 1px 0px #292435;
    cursor: pointer;
}
.addpost-input{
	width: 195px;
	border-radius: 5px;
	padding-left: 8px;
	height: 25px;
	margin-top: 5px;
    border: 1px solid #D9D9D9;
}
.addpost-form{
    height: 100px;
}