<div class="common-block" id="tweet_id_<%=id%>">
    <div class="post-data">
        <div class="right-top">
            <%=timestamp%>
        </div>
        <div class="post">
            <%=post%>
        </div>
        <div class="repost">Retweeted by: @@</div>
    </div>
</div>
