<div class="common-block" id="tweet_id_<%=id%>">
    <div class="post-data">
        <div class="right-top">
            <%=timestamp%>
        </div>
        <div class="post">
            <%=post%>
        </div>
        <%if (author_id!=0) {%>
        <div class="repost">Retweeted by:
            <a class="author_name" href="/twimini/profile/<%=user_id%>">
            </a>
        </div>
        <%}%>

    </div>
</div>
