<div class="common-block" id="tweet_id_<%=id%>">
    <div class="post-data">
        <div class="right-top">
            <%=timestamp%>
        </div>
        <div class="post">
            <%=post%>
        </div>
        <%if (author_id!=0) {%>
        <div class="repost">Retweeted by: @
            <div class="author_username"></div>
        </div>
        <%}%>
    </div>
</div>
