<div class="common-block">
    <div class="small-pic"> </div>
    <div class="details">
        <a href="/twimini/profile/<%=user.id%>"><%=user.username%></a>
        <div class="right-top"><%=timestamp%></div>
        <div class="post">
        <%=post%>
        </div>
    </div>
</div>
