<div class="common-block">
    <div class="profile-pic small-pic"> </div>
    <div class="details">
        <%=user.username%>
        <div class="right-top"><%=timestamp%></div>
        <div class="post">
        <%=post%>
        </div>
    </div>
</div>
