<div class="common-block">
    <div class="small-pic"> </div>
    <div class="details">
        <a href="/profile/<%=id%>"><%=username%></a>
        <div class="right-top">id</div>
        <div class="post">
        <%=email%>
        </div>
    </div>
</div>
