<div class="common-block">
    <div class="profile-pic small-pic"> </div>
    <div class="details">
        <%=username%>
        <div class="right-top">id</div>
        <div class="post">
        <%=email%>
        </div>
    </div>
</div>
